*{font-size: 100%}

body {
    background-image: url("assets/topography.webp");
    margin: 0px;
    
}

html { font-family: consolas, courier;
}
h1 {font-family: Kdam Thmor Pro;
    font-size: 40px;
    margin: 0;
    
       
    }
h2 {color: #ff0099;
font-family: Kdam Thmor Pro;
font-size: 25px;}
h3 {margin: auto;
    width: 40%;
    text-align: center;
    font-family: Kdam Thmor Pro;
font-size: 30px;}
h4 {font-family: Kdam Thmor Pro;
    font-size: 25px;}

.top {background-color: #333333;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
.top a:link {color: #ff0099;}
.top a:visited {color: #ff0099;}
.top a:hover{color:red;}
.main {padding: 10%;
    width: 80%;
    margin: 0px auto;
    ;
        }

.navfield {padding: 0 10% 0;
    ;
    margin: 5px auto;
         color:#333333;
         display: inline-block;
         height: 30px;
         width: 80%;
         ;
}
.nav {width: 60%;
     display: inline-block;
      float: right;
      text-align: right;
      line-height: 30px;
      
      }
      .center {margin: auto;
        width: 10%;
        text-align: center;}

        .big {font-size: 19px;}